/* customr css and js files included at the top level of your presentation will
 * will be included in your presentation */

.title-slide h1 {
  color: blue;
}

body {
  color: #222;
  text-shadow: 1px 1px 2px #ccc;
  font-family: ubuntu;
  letter-spacing: -0.13em
}